<%- include('partials/header'); -%>

    <main class="container">
        <div class="home-header title-section flex">
            <span class="home-icon fa-solid fa-user-secret"></span>
            <div>
                <h1 class="home-title">Secrets</h1>
                <p>Don't keep your secrets, share them anonymously!</p>
            </div>
        </div>
        <div class="buttons-section">
            <button class="button-light" onclick="location.href='/register'" type="button">Register</button>
            <button class="button-dark" onclick="location.href='/login'" type="button">Login</button>
        </div>
    </main>

<%- include('partials/footer'); -%>