<%- include('partials/header') -%>

    <header class="container">
        <div class="authentication-header">
            <h1>Login</h1>
        </div>
    </header>

    <main class="authentication-layout grid">
        <div>
            <form class="authentication-form flex" action="/login" method="POST">
                <label for="username">Email</label>
                <input type="email" name="username">
                <label for="password">Password</label>
                <input type="password" name="password">
                <button class="button-dark" type="submit">Login</button>
            </form>
        </div>
        <div class="authentication-divider flex">
            <p>or</p>
        </div>
        <div class="oauth-authentication flex">
            <button class="oauth-google oauth-button">
                <span class="oauth-icon fa-brands fa-google"></span>
                <a class="oauth-text" href="/auth/google">Sign In With Google!</a>
            </button>
            <button class="oauth-facebook oauth-button">
                <span class="oauth-icon fa-brands fa-facebook-f"></span>
                <a class="oauth-text" href="/auth/facebook">Sign In With Facebook!</a>
            </button>
        </div>
    </main>

<%- include('partials/footer') -%>