<%- include('partials/header') -%>

    <main class="container">
        <div class="secret-header title-section flex">
            <span class="secret-icon fa-brands fa-keycdn"></span>
            <div class="secret-content">
                <h1 class="secret-title">You've Discovered My Secret!</h1>
                <p class="secret-text"><em>Time to learn about yours.</em></p>
            </div>
        </div>
        <div class="secret-section grid">
            <% usersWithSecrets.forEach((user) => { %>
                <% user.secrets.forEach((secret) => { %>
                    <div class="secret-item">
                        <p><%= secret %></p>
                    </div>
                <% }) %>
            <% }) %>
        </div>
        <div class="buttons-section">
            <form action="/logout" method="POST">
                <button class="button-light" onclick="location.href='/'" type="submit">Logout</button>
                <button class="button-dark" onclick="location.href='/submit'" type="button">Secrets</button>
            </form>
        </div>
    </main>

<%- include('partials/footer') -%>